/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  text-decoration: none; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #04A4CC; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

::-moz-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::-webkit-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::-moz-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

html, body {
  height: 100%;
  width: 100%; }

body {
  font: 400 15px/1.3 'Open Sans', sans-serif;
  color: black;
  position: relative; }

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(red));
  background: linear-gradient(to right, blue, red); }

main {
  position: relative;
  min-height: 100%;
  width: 100%; }

section {
  position: relative;
  width: 100%;
  height: auto; }

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 1150px;
  margin: 0px auto;
  padding: 100px 35px; }

a {
  color: red;
  text-decoration: none;
  letter-spacing: 1; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 800;
  margin: 0;
  width: 100%; }

h1 {
  font-size: 5.063em; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

p {
  width: 100%; }

ul li {
  position: relative; }

hr {
  background: black;
  margin: 0;
  text-align: left;
  border: 0;
  width: 60px;
  height: 1px; }

.button {
  position: relative;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 10px 35px; }
  .button a {
    color: red; }

.background-image-section {
  background: no-repeat center center;
  background-size: cover; }

.four-oh-four-page .content {
  padding: 45px 25px 85px 25px; }

.four-oh-four-page h1, .four-oh-four-page h3 {
  margin: 0.2em 0em; }

.four-oh-four-page .button {
  margin-top: 40px; }


.c-block-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.c-flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-flex-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-flex-right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-width-0 {
  width: 0%; }

.c-width-1 {
  width: 1%; }

.c-width-2 {
  width: 2%; }

.c-width-3 {
  width: 3%; }

.c-width-3-3 {
  width: 3.333333%; }

.c-width-4 {
  width: 4%; }

.c-width-5 {
  width: 5%; }

.c-width-6 {
  width: 6%; }

.c-width-6-6 {
  width: 6.666666%; }

.c-width-7 {
  width: 7%; }

.c-width-8 {
  width: 8%; }

.c-width-9 {
  width: 9%; }

.c-width-10 {
  width: 10%; }

.c-width-11 {
  width: 11%; }

.c-width-12 {
  width: 12%; }

.c-width-13 {
  width: 13%; }

.c-width-14 {
  width: 14%; }

.c-width-15 {
  width: 15%; }

.c-width-16 {
  width: 16%; }

.c-width-17 {
  width: 17%; }

.c-width-18 {
  width: 18%; }

.c-width-19 {
  width: 19%; }

.c-width-20 {
  width: 20%; }

.c-width-21 {
  width: 21%; }

.c-width-22 {
  width: 22%; }

.c-width-23 {
  width: 23%; }

.c-width-24 {
  width: 24%; }

.c-width-25 {
  width: 25%; }

.c-width-26 {
  width: 26%; }

.c-width-27 {
  width: 27%; }

.c-width-28 {
  width: 28%; }

.c-width-29 {
  width: 29%; }

.c-width-30 {
  width: 30%; }

.c-width-31 {
  width: 31%; }

.c-width-32 {
  width: 32%; }

.c-width-33 {
  width: 33%; }

.c-width-33-3 {
  width: 33.3333333%; }

.c-width-34 {
  width: 34%; }

.c-width-35 {
  width: 35%; }

.c-width-36 {
  width: 36%; }

.c-width-37 {
  width: 37%; }

.c-width-38 {
  width: 38%; }

.c-width-39 {
  width: 39%; }

.c-width-40 {
  width: 40%; }

.c-width-41 {
  width: 41%; }

.c-width-42 {
  width: 42%; }

.c-width-43 {
  width: 43%; }

.c-width-44 {
  width: 44%; }

.c-width-45 {
  width: 45%; }

.c-width-46 {
  width: 46%; }

.c-width-47 {
  width: 47%; }

.c-width-48 {
  width: 48%; }

.c-width-49 {
  width: 49%; }

.c-width-50 {
  width: 50%; }

.c-width-51 {
  width: 51%; }

.c-width-52 {
  width: 52%; }

.c-width-53 {
  width: 53%; }

.c-width-54 {
  width: 54%; }

.c-width-55 {
  width: 55%; }

.c-width-56 {
  width: 56%; }

.c-width-57 {
  width: 57%; }

.c-width-58 {
  width: 58%; }

.c-width-59 {
  width: 59%; }

.c-width-60 {
  width: 60%; }

.c-width-61 {
  width: 61%; }

.c-width-62 {
  width: 62%; }

.c-width-63 {
  width: 63%; }

.c-width-64 {
  width: 64%; }

.c-width-65 {
  width: 65%; }

.c-width-66 {
  width: 66%; }

.c-width-66-6 {
  width: 66.666666%; }

.c-width-67 {
  width: 67%; }

.c-width-68 {
  width: 68%; }

.c-width-69 {
  width: 69%; }

.c-width-70 {
  width: 70%; }

.c-width-71 {
  width: 71%; }

.c-width-72 {
  width: 72%; }

.c-width-73 {
  width: 73%; }

.c-width-74 {
  width: 74%; }

.c-width-75 {
  width: 75%; }

.c-width-76 {
  width: 76%; }

.c-width-77 {
  width: 77%; }

.c-width-78 {
  width: 78%; }

.c-width-79 {
  width: 79%; }

.c-width-80 {
  width: 80%; }

.c-width-81 {
  width: 81%; }

.c-width-82 {
  width: 82%; }

.c-width-83 {
  width: 83%; }

.c-width-84 {
  width: 84%; }

.c-width-85 {
  width: 85%; }

.c-width-86 {
  width: 86%; }

.c-width-87 {
  width: 87%; }

.c-width-88 {
  width: 88%; }

.c-width-89 {
  width: 89%; }

.c-width-90 {
  width: 90%; }

.c-width-91 {
  width: 91%; }

.c-width-92 {
  width: 92%; }

.c-width-93 {
  width: 93%; }

.c-width-94 {
  width: 94%; }

.c-width-95 {
  width: 95%; }

.c-width-96 {
  width: 96%; }

.c-width-97 {
  width: 97%; }

.c-width-98 {
  width: 98%; }

.c-width-99 {
  width: 99%; }

.c-width-100 {
  width: 100%; }

@media screen and (max-width: 767px) {
  .c-width-0,
  .c-width-1,
  .c-width-2,
  .c-width-3,
  .c-width-3-3,
  .c-width-4,
  .c-width-5,
  .c-width-6,
  .c-width-6-6,
  .c-width-7,
  .c-width-8,
  .c-width-9,
  .c-width-10,
  .c-width-11,
  .c-width-12,
  .c-width-13,
  .c-width-14,
  .c-width-15,
  .c-width-16,
  .c-width-17,
  .c-width-18,
  .c-width-19,
  .c-width-20,
  .c-width-21,
  .c-width-22,
  .c-width-23,
  .c-width-24,
  .c-width-25,
  .c-width-26,
  .c-width-27,
  .c-width-28,
  .c-width-29,
  .c-width-30,
  .c-width-31,
  .c-width-32,
  .c-width-33,
  .c-width-33-3,
  .c-width-34,
  .c-width-35,
  .c-width-36,
  .c-width-37,
  .c-width-38,
  .c-width-39,
  .c-width-40,
  .c-width-41,
  .c-width-42,
  .c-width-43,
  .c-width-44,
  .c-width-45,
  .c-width-46,
  .c-width-47,
  .c-width-48,
  .c-width-49,
  .c-width-50,
  .c-width-51,
  .c-width-52,
  .c-width-53,
  .c-width-54,
  .c-width-55,
  .c-width-56,
  .c-width-57,
  .c-width-58,
  .c-width-59,
  .c-width-60,
  .c-width-61,
  .c-width-62,
  .c-width-63,
  .c-width-64,
  .c-width-65,
  .c-width-66,
  .c-width-66-6,
  .c-width-67,
  .c-width-68,
  .c-width-69,
  .c-width-70,
  .c-width-71,
  .c-width-72,
  .c-width-73,
  .c-width-74,
  .c-width-75,
  .c-width-76,
  .c-width-77,
  .c-width-78,
  .c-width-79,
  .c-width-80,
  .c-width-81,
  .c-width-82,
  .c-width-83,
  .c-width-84,
  .c-width-85,
  .c-width-86,
  .c-width-87,
  .c-width-88,
  .c-width-89,
  .c-width-90,
  .c-width-91,
  .c-width-92,
  .c-width-93,
  .c-width-94,
  .c-width-95,
  .c-width-96,
  .c-width-97,
  .c-width-98,
  .c-width-99,
  .c-width-100 {
    width: 100%; } }

.footer {
  margin-top: 60px;
  background: black;
  color: white; }
  .footer .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px auto;
    padding: 10px 25px 30px 25px; }
  .footer a {
    color: white; }
  .footer li {
    margin-bottom: 16px; }
  .footer i {
    font-size: 2em;
    margin-right: 10px; }
  .footer .footer-tile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 40px 40px; }
  .footer .logo-tile {
    width: 33%; }
    .footer .logo-tile img {
      width: 100%;
      height: auto;
      max-width: 200px; }
  .footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-size: 0.9em;
    color: white;
    opacity: 0.6; }

@media screen and (max-width: 767px) {
  .footer .content {
    padding: 0px 25px 26px 25px; }
  .footer .footer-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 40px 10px 40px 10px; }
    .footer .footer-tile:nth-of-type(2) {
      border-left: 0px solid white;
      border-right: 0px solid white;
      border-bottom: 1px solid white;
      border-top: 1px solid white; } }

.header {
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  height: 90px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25); }
  .header .content {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header a {
    color: black; }
  .header li {
    display: inline-block; }
  .header .button {
    color: black; }
    .header .button a {
      color: black; }

.header-logo {
  z-index: 12;
  position: relative;
  height: 100%; }
  .header-logo img {
    height: 100%;
    width: auto; }

.current-menu-item {
  border-bottom: 2px solid blue; }
  .current-menu-item a {
    color: blue; }

.mobile-menu {
  display: none; }

@media screen and (max-width: 1024px) {
  .mobile-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 44px;
    right: 26px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20px;
    height: 16px; }
    .mobile-menu span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: purple; }
  .main-nav {
    background: white;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 11;
    height: 100vh;
    width: 100%; }
    .main-nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100vh;
      width: 100%;
      padding-top: 100px; }
    .main-nav li {
      margin-left: 0px;
      width: auto;
      margin-top: 20px;
      -webkit-transition: none;
      transition: none; } }

.home-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.single-owner, .chart-top-section {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px; }
  .single-owner .content, .chart-top-section .content {
    padding: 0px 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start; }

.owner-area {
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CF5300), color-stop(#ea7425), to(#CF5300));
  background-image: linear-gradient(#CF5300, #ea7425, #CF5300);
  padding: 46px 40px 36px 40px;
  overflow: hidden;
  border-radius: 90px 0 0 0;
  -webkit-box-shadow: inset 0px 8px 6px -2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 8px 6px -2px rgba(0, 0, 0, 0.25);
  border: 5px solid white; }

.owner-background {
  z-index: 1;
  opacity: .12;
  background-image: url("img/leather-dimple.svg");
  background-size: 12px 12px; }

.owner-rank {
  position: relative;
  z-index: 2;
  width: 40px;
  margin-top: 4px;
  height: auto; }

.rank-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #f7f7f7;
  border: 5px solid #f7f7f7;
  margin-right: 14px;
  padding-right: 1px;
  text-align: center;
  padding-top: 2px;
  font-weight: 900;
  font-size: 22px;
  line-height: 1; }

.owner-info {
  padding-left: 10px;
  width: calc(50% - 40px); }

.owner-played {
  display: inline-block;
  font-size: 17px;
  color: #f7f7f7;
  width: auto;
  font-weight: 300;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px); }

.owner-names {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 2;
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
  color: #f7f7f7; }

.owner-wins {
  width: 100%;
  font-size: 34px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  margin-bottom: 18px; }

.owner-projections {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: auto;
  margin-bottom: 6px;
  color: #2f2f2f; }
  .owner-projections .projection-bar {
    display: inline-block;
    margin: 0px 10px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    padding-top: 3px;
    width: 1px;
    background: #2f2f2f;
    height: 1em; }
  .owner-projections .digits {
    font-weight: 600; }

.owner-teams {
  position: absolute;
  right: 75px;
  top: 0px;
  z-index: 3;
  width: 40%;
  height: auto;
  background: white;
  -webkit-box-shadow: inset 0px 8px 6px -2px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 8px 6px -2px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px;
  background: #f7f7f7;
  margin-top: 5px; }

.single-team, .chart-titles {
  font-size: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  border-top: 1px solid #e6e6e6; }

.team-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: auto;
  margin: 0 auto; }
  .team-logo img {
    height: 100%;
    width: auto; }

.single-chart-title, .team-info, .team-wins, .team-loses, .team-played {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 900;
  text-align: center;
  border-left: 1px solid #e6e6e6;
  padding: 5px 2px; }

.team-nickname {
  width: 100%; }

.team-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.team-nickname, .team-city, .team-conference {
  display: none; }

.chart-titles {
  width: 100%;
  border-top: 0px solid white;
  padding-top: 3px; }

.single-chart-title {
  font-weight: 400;
  padding-bottom: 6px;
  padding-top: 10px; }

@media screen and (max-width: 1024px) {
  .owner-rank {
    width: 100%;
    margin-bottom: 6px; }
  .owner-info {
    padding-left: 0;
    width: 50%; }
  .owner-wins {
    margin-bottom: 10px; }
  .owner-projections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .owner-projections .single-projection {
      width: 100%;
      margin-bottom: 4px; }
    .owner-projections .projection-bar {
      display: none; }
  .owner-teams {
    height: calc(100% + 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    right: 60px; } }

@media screen and (max-width: 767px) {
  .single-owner, .chart-top-section {
    margin-bottom: 10px; }
    .single-owner *, .chart-top-section * {
      text-align: center; }
    .single-owner .content, .chart-top-section .content {
      padding: 0px 15px; }
  .rank-icon {
    margin: 0 auto 6px auto;
    padding-top: 0px;
    padding-right: 0px; }
  .owner-area {
    padding: 20px 30px 40px 30px; }
  .owner-info {
    width: 100%; }
  .owner-names {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
    margin-bottom: 5px; }
  .owner-teams {
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    top: -42px; } }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 900;
  z-index: 999999999999999999999;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(red));
  background: linear-gradient(to right, blue, red);
  background: black; }
  #preloader span {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 99; }
  #preloader img {
    position: relative;
    z-index: 100;
    height: auto;
    width: 75%; }

.loader-area {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CF5300), color-stop(#ea7425), to(#CF5300));
  background-image: linear-gradient(#CF5300, #ea7425, #CF5300);
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.25);
  border: 5px solid white; }

.loader-background {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .12;
  background-image: url("img/leather-dimple.svg");
  background-size: 12px 12px;
  -webkit-animation: spin 2.5s infinite linear;
          animation: spin 2.5s infinite linear; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }
  25% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }
  75% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); } }

@keyframes bounce {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }
  25% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); }
  75% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }


.threejs-page #c {
  width: 100%;
  height: 100%;
  display: block; }
