@import "colors";

.threejs-page {

  #c {
    width: 100%;
    height: 100%;
    display: block;
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

}


// 767px And Below
@media screen and (max-width: 767px){

}
